[Unit]
Description=Set static ARP entry sunset redwet

[Service]
Type=oneshot
ExecStart=/sbin/ip neigh replace 10.25.0.1 lladdr 0c:42:a1:f7:bf:c7 dev red nud permanent

[Install]
WantedBy=multi-user.target

